body {
    background-color: #1F2937;
}

header {
    background: lightblue;
    padding: 16px;
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    
}

header > div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 250px;
}

ul > li {
    display: inline;
    
}

